Flask==3.1.2
flask-cors==6.0.2
Flask-Compress==1.14
waitress==3.0.0
openai==2.14.0
requests==2.32.5
mediapipe==0.10.9
opencv-python-headless==4.9.0.80
numpy==1.26.4
azure-cognitiveservices-vision-face==0.7.0